
html{
    background-color: #366b9b;
    background-image: url(/static/Login/img/ITBA.jpg);
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center 80%;
}
header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}
header img {
    width: 150px;
    grid-column: 2/7;
    align-self: center;
}
  
#Cuenta {
  grid-column: 9/11;
  text-decoration: none;
  color: rgb(116, 116, 116);
  text-align: center;
  width: 120px;
  height: 20px;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}
#Home {
  grid-column: 11/13;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  align-self: center;
  border-radius: 10px;
  background-color: #6c757d;
  margin-right: 10px;
}
.contenedor{
    display: grid;
    grid-template-columns:1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm;
    grid-template-rows:1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm;
} 
.imagen{
    margin-left: 60px;
}
.cuadro{
    margin-top: 120px;
    grid-column-start: 14;
    grid-column-end: 22;
}

.nueva-contrasena{
    color:white;
    float: right;
}

.nueva-contrasena:hover{
    text-decoration: line;
}

label{
    color:white;
    float:left;
}

li{
    list-style:none;
    margin-top: 10px;
}

input{
    margin-top: 3px;
    background : transparent;
    background-color: #e1e9f0;
    border-bottom:white 1px solid;
    color:white;
    
}

.boton{
    margin-top:40px;
    width: 352px;
    height: 40px;
    border:white 1px solid;
    color: white;
    background-color: transparent;
    font-size: 100%;
}

.boton:hover{
    background-color: white;
    color:black;
}

.boton:active{
    background-color: #EA570D;
    color:white;
    border-color: #EA570D;
    animation-duration: 3s;

}

ul{
    margin-top: 80px;
}

.box{
    margin-bottom:25px;
    padding:6px 70px 6px;
    font-size: 17px;
    text-align:  center;
}

